{% extends "layouts/base.html" %} {% block content %}
<article>
  <div>
    <h1>{{ intro.greeting }}</h1>
    <p>{{ intro.whoami }}</p>
    <a href="{{ company.url }}">
      <p>{{ company.name }}</p>
    </a>
    <p>{{ company.summary }}</p>
    <p>{{ learning }}</p>
    <ul>
      {%- for fixation in fixations -%}
      <li>{{ fixation }}</li>
      {%- endfor -%}
    </ul>
    <p>{{ intro.summary }}</p>
    <!-- <div>
      <img src="{{ intro.image }}" alt="{{ intro.imageAlt }}" />
    </div> -->
    <p>{{ outro }}</p>
  </div>
</article>
{% endblock %}
