{% extends "layouts/base.html" %} {% block content %}
<article class="wrapper">
  <section class="cover">
    <h1
      style="
        font-family: var(--font-special);
        font-size: var(--s-10);
        letter-spacing: var(--tracking);
      "
    >
      {{ intro.heading }}
    </h1>
    <div>
      <h1>{{ intro.greeting }}</h1>
      <p>{{ intro.name }}</p>
      <p>{{ intro.summary }}</p>
    </div>
  </section>
  <div class="grid">
    <section>
      <h2>{{ company.heading }}</h2>
      <div class="cluster">
        <p>{{ company.whoami }}</p>
        <a href="{{ company.url }}">
          <p>{{ company.name }}</p>
        </a>
      </div>
      <p>{{ company.summary }}</p>
    </section>
    <section>
      <h2>{{ learning.heading }}</h2>
      <p>{{ learning.summary }}</p>
      <p>{{ learning.fixations.content }}</p>
      <ul role="list" class="wrapper">
        {%- for fixation in learning.fixations.list -%}
        <li><a href="{{ fixation.url }}">{{ fixation.name }}</a></li>
        {%- endfor -%}
      </ul>
    </section>
  </div>
  <!-- <div>
      <img src="{{ intro.image }}" alt="{{ intro.imageAlt }}" />
    </div> -->
  <p>{{ outro }}</p>
</article>
{% endblock %}
