{% extends "layouts/base.html" %} {% block content %} {% set pageHeaderTitle =
title %} {% set pageHeaderSummary %}
  <time class="[ text-500 ]" datetime="{{ date | w3DateFilter }}"
    >{{ date | dateFilter }}</time
  >
  {% if tags %}
  <p class="visually-hidden" id="tags-desc">
    Tags that this post has been filed under.
  </p>
  <ul class="tags-list" aria-describedby="tags-desc" role="list">
    {% for tag in tags %}
    <li class="[ text-500 ]">
      <a href="/tag/{{ tag | slugify }}/"
        >#{{ tag | title | replace(' ', '') }}</a
      >
    </li>
    {% endfor %}
  </ul>
  {% endif %} {% endset %} {% set recommendedPosts =
  helpers.getSiblingContent(collections.blog, page) %}

  <article class="[ wrapper flow ]" style="--flow-space: 3rem">
    {% include "partials/page-header.html" %}

    <section>{{ content | safe }}</section>
  </article>
  {# {% if recommendedPosts %}
  <footer>
    {% set postListItems = recommendedPosts %} {% set postListHeadline = 'More
    posts' %} {% include "partials/post-list.html" %}
  </footer>
  {% endif %} #} {% endblock %}
</div>
