{% extends "layouts/base.html" %} {% block content %} {% set pageHeaderTitle =
title %} {% set pageHeaderSummary %}
<time datetime="{{ date | w3DateFilter }}">{{ date | dateFilter }}</time>
{# {% if tags %}
<p class="visually-hidden" id="tags-desc">
  Tags that this post has been filed under.
</p>
<ul class="tags-list" aria-describedby="tags-desc">
  {% for tag in tags %}
  <li>
    <a href="/tag/{{ tag | slugify }}/"
      >#{{ tag | title | replace(' ', '') }}</a
    >
  </li>
  {% endfor %}
</ul>
{% endif %} #} {% endset %}

<article class="wrapper">
  {% include "partials/page-header.html" %}

  <section class="cover">{{ content | safe }}</section>
</article>
{% endblock %}
