<div id="garden-list">
  <div>
    {% if gardenListHeadline %}
    <h2>{{ gardenListHeadline }}</h2>
    {% endif %}
    <ul class="grid" role="list">
      {% for item in collections.garden %}
      <li class="card [ garden__item ]">
        <a href="{{ item.url }}" aria-label="See {{ item.data.title }}">
          <div class="[ stack ]">
            <h3>{{ item.data.title }}</h3>
            {{ item.data.summary }}
            <div class="[ cluster ]">
              <h4
                class="[ font-sans text-500 ]"
                style="margin: 0; letter-spacing: 0.025em"
              >
                updated:
              </h4>
              <time class="[ text-500 ]"
                >{{ item.data.date | dateFilter }}</time
              >
            </div>
          </div>
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
